body {overflow:hidden;width:610px;font-size:0.9em;padding:0;margin:0;font-family:Times New Roman,Times,serif;}
#container {padding:4px;overflow:hidden;margin:0px;height:610px;}
#labels {font-size:1em;background:#dceaf9 url(images/bg_title.png) repeat-x; padding:4px;font-family:Verdana,Arial,Helvetica,sans-serif;}
#labels div.f {float:left;border:solid transparent 2px;cursor:pointer;}
#labels div.f:hover {background-color:lightYellow;border:solid red 2px;}
#labels div.selected {float:left;cursor:text;background-color:lightYellow;border:solid blue 2px;}
#div_bookmarks {background:#fff url(images/bg_title_b.png) repeat-x; overflow-y:scroll;padding-top:6px;margin:auto;}
#div_bookmarks a { text-decoration:none;color:darkgray;overflow:hidden;}
#div_bookmarks a:visited {text-decoration:none;color:darkblue;}
#div_bookmarks a:hover {background-color:lightYellow;text-decoration:underline;color:red;}
.clear { float:none; clear:both; }
.error {color:red;}
h2 {margin:0;margin-bottom:4px;padding:0;font-size:110%;}


#div_main {padding:0;margin:0;height:520px;}
#div_add {border:solid 3px #ddd; padding:4px;height:512px;}
.opicon {padding:2px;border:solid 1px #ddd;}
.opicon:hover {border:solid 1px red;background-color:lightYellow;}
.nowrap a {width:480px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nowrap1 a {width:380px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.tab {height:514px;padding:0;margin:-2px -16px;}
.icon {float:left;border:solid 1px #eee; margin-left:2px;}
.icon:hover {border:solid 1px red;background-color:#ffffa0;}
#status_bar {float:left;padding-left:8px;font-size:70%;color:red;font-family:Courier New,Courier,monospace; }
#refresh_icon {float:right;border:solid 1px transparent;margin-right:4px;}
#refresh_icon:hover {border:solid 1px red;background-color:#ffffa0;}
#bm_all {height:480px;overflow-y:scroll;margin-top:6px;}
#bm_all a { text-decoration:none;color:darkgray;overflow:hidden;}
#bm_all a:visited {text-decoration:none;color:darkblue;}
#bm_all a:hover {background-color:lightYellow;text-decoration:underline;color:red;}
#bm_search {padding-left:20px;background:transparent url(images/search.png) no-repeat 4px 6px;}
#bm_count {font-size:0.7em;color:#8B4513;white-space:nowrap;width:380px;text-overflow:ellipsis;font-family:Courier New,Courier,monospace;overflow:hidden;}
.bm_link {font-size:0.7em;color:darkGreen;padding-bottom:4px;white-space:nowrap;width:380px;text-overflow:ellipsis;font-family:Courier New,Courier,monospace;overflow:hidden;}
.prompt {font-size:0.7em;color:#999;text-decoration:none;}
#tab-all a.prompt.link {color:#999;}
#tab-all a.prompt.visited {color:#999;}
#tab-all a.prompt:hover {text-decoration:underline;color:red;}
.ui-effects-transfer { border: 2px dotted gray; }
#table_del {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:0.9em;}
#div_multi_labels {height:500px;}