html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{border:0 none;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;}
html {overflow:hidden;}
body {margin:0;padding:0;}
#container {border:solid 1px transparent;margin:0;padding:0;}

#main{}

.f {float:left;margin:1px;padding:1px;border:solid 1px transparent;cursor:pointer;}
.f:hover {text-decoration:underline;color:red;}
.selected {border:solid 1px red;background-color:#ffffcc;}
.clear {clear:both;}
.bm-labels {background:#dceaf9 url(images/bg_title.png) repeat-x; padding:4px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:90%;}
.bm-bookmarks {display:table;border-collapse:separate;}
.row { display:table-row; }
 .row div { display:table-cell; }
 .row .icons { width:60px; }
 .row .icons span {float:left;}
 .row .bm1 { width:200px;}
 .row .bm1 a {display:block; width:200px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
 .row .three {}
  